{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ],
  "sourceMaps": "inline", // add vscode babel debugging
  "retainLines": true // same as above
}